* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

:root {
  --background-color: #f8f8f8;
  --main-color: #f06a0b;
  --secondary-color: #6b7884;
  --main-font: "Quicksand";
  --secondary-font: "Lato";
}
