.add-recipe-main {
  display: flex;
}
.add-recipe-main,
h1 {
  text-align: center;
  font-size: 2.5rem;
}

.add-recipe-ingrediens,
h2 {
  text-align: center;
}

.add-recipe-ingrediens,
ul {
  list-style-type: none;
}
