.add-recipe-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
}

.add-recipe-two h1 {
  font-family: var(--main-font);
  color: var(--secondary-color);
}

.add-ingredient {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-ingredient input {
  border: 2px solid var(--main-color);
  border-radius: 8px;
  width: 10em;
  height: 10em;
  content-visibility: hidden;
}

.more-ingredient {
  position: absolute;
  border-radius: 50%;
  border: 3px solid var(--secondary-color);
  height: 5em;
  width: 5em;
  z-index: 1;
  cursor: pointer;
}
