.add-recipe-main {
  display: flex;
}
.add-recipe-main,
h1 {
  text-align: center;
  font-size: 2.5rem;
}

.add-recipe-ingrediens,
h2 {
  text-align: center;
}

.add-recipe-ingrediens,
ul {
  list-style-type: none;
}

.add-5-validate > button {
  border-radius: 8px;
  border: 1px solid #f06a0b;
  background-color: #f06a0b;
  color: #f8f8f8;
  height: 50px;
  width: 100px;
  text-align: center;
}
