.more-ingredient-three {
  position: absolute;
  border-radius: 50%;
  border: 3px solid var(--secondary-color);
  height: 5em;
  width: 5em;
  z-index: 1;
  cursor: pointer;
}

.dialog-content {
  display: flex;
  flex-direction: column;
}

#dial-box {
  border-radius: 8px;
  border: 2px solid var(--main-color);
}

.dialog-ingredient input {
  border: none;
  width: 8em;
  margin: 0 0.3em;
}

#dial-box h2 {
  margin: 0 0 1.5em 0;
}

.dialog-ingredient input:active {
  border: none;
}
.dialog-ingredient input::placeholder {
  text-decoration: underline var(--secondary-color);
}
#close-modal-button {
  width: 100%;
  text-align: end;
  border: none;
}
