.page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 85vh;
  & h1 {
    font-size: 6em;
    margin: 0;
  }
}
.page-not-found span {
  color: var(--main-color);
}
