.title-detail-recipe {
  text-align: center;
}

.header-detail-recipe {
  display: flex;
  flex-direction: column;
}

.info-detail-recipe,
.share-and-like-detail-recipe,
.button-parts-detail-recipe {
  display: flex;
  justify-content: space-between;
}

.button-parts-detail-recipe {
  display: flex;
  justify-self: center;
  border: 2px solid var(--main-color);
  border-radius: 8px;
  width: 10em;

  && button {
    background-color: transparent;
    border: none;
  }

  && p {
    border: 2px solid var(--main-color);
    border-top: none;
    border-bottom: none;
    margin: 0;
  }
}
