.recipe-container {
  text-align: center;
  margin: 5%;
}

.recipe-container h1 {
  margin-bottom: 3rem;
  color: #ff6347;
}

/* Conteneur de l'image et du titre */
.photo-recip {
  display: flex;
  align-items: center;
  gap: 2rem; /* Ajoute un espace entre l'image et le titre */
  width: 100%;
}

.photo-recip img {
  width: 35%;
  height: auto;
  border-radius: 45%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Titre de la recette */
.recipe-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: -45px;
}

.recipe-title h3 {
  font-size: 1.2rem;
  margin: 1rem 0;
  text-transform: capitalize;
}

/* Conteneur du temps et du chef */
.clock-and-chef {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem; /* Espacement entre les icônes */
  margin-top: -3rem;
  margin-left: 8rem;
  position: relative;
}

/* Style des icônes */
.clock-container,
.chef-hat-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.icon {
  font-size: 2rem;

  padding: 5px;
  border-radius: 50%;
}

.clock-and-chef::after {
  content: "";
  width: 2px;
  height: 40px;
  background-color: black;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 10px;
}

.clock-container h6,
.chef-hat-container h6 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}
