.home-inspirations {
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.inspiration-result {
  text-align: center;
  width: 100%;
}

.inspiration-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.inspiration-card img {
  height: 9em;
  width: 12em;
  border-radius: 8px;
  transition: transform .2s;
}

.inspiration-card figcaption {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-weight: bold;
}

@media (min-width: 932px) {
  .inspiration-result {
    background-color: transparent;
  }

  .inspiration-card {
    width: 20vw;
  }

  .inspiration-card img {
    width: 20vw;
    height: 20vh;
    border-radius: 8px;
  }

  .inspiration-result {
    text-align: center;
  }
}
