.inspirationcards {
  display: flex;
}
.home-inspirations {
  flex-wrap: wrap;
  gap: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
}

.inspiration-result {
  text-align: center;
  width: 100%;
}

.inspiration-card {
  flex-direction: column;
}

.inspiration-card img {
  height: 10em;
  width: 10em;
  border-radius: 8px;
  transition: transform .2s;
}
.inspiration-card > figcaption > figure {
  text-align: center;
}
.inspiration-card > figcaption {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-weight: bold;
}
