.activities > h1 {
  text-align: center;
  color: var(--main-color);
  font-size: 2em;
}

.activity h2 {
  color: var(--secondary-color);
}

.activity-add-recipe {
  text-align: center;

  & button {
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    text-align: center;
    cursor: pointer;
  }
}

.activity-published-recipe {
  text-align: center;
}

.activity-add-button {
  color: var(--background-color);
  border-radius: 8px;
}

.activities > article:nth-of-type(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;

  & h2,
  p {
    flex-basis: 100vw;
    text-align: center;
  }
}

@media (min-width: 932px) {
  .activity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
  }
  .activity p {
    text-align: end;
  }
  .activity-container {
    display: flex;
    justify-content: space-around;
    object-fit: cover;
    object-position: 50% 50%;
  }
  .activity-container img {
    height: 15em;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
  }
  .activity-published-recipe {
    padding: 2em;
  }
  .activity-pending-recipe {
    padding: 2em;
  }
  .activity-add-recipe button {
    border-radius: 8px;
  }
}
