.activity h1 {
  text-align: center;
}

.activity-published-recipe,
.activity-pending-recipe,
.activity-add-recipe {
  display: flex;
  flex-direction: column;
  margin: 0 0 2em 0;
}

.activity-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
}

.activity-add-recipe button {
  align-self: center;
  width: 5em;
  height: 5em;
  background-color: var(--main-color);
  border: none;
  & a {
    background-color: transparent;
  }
  & svg {
    height: 4em;
    width: 4em;
    color: var(--background-color);
    background-color: transparent;
  }
}
