@media screen and (max-width: 320px) {
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffff;
    --secondary-font: "Lato";
  }

  .btn {
    background-color: #f06a0b;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    width: 75%;
  }
}
