/* Global styles for the footer */
footer {
  display: flex;
  height: 13vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
}

footer h2 {
  margin: 0;
}

footer :is(h2, a, nav, ul, li, p) {
  background-color: transparent;
  text-decoration: none;
  list-style: none;
  font-family: var(--secondary-font);
  padding: 0;
}

footer a {
  color: var(--secondary-color);
}

footer a:hover {
  text-decoration: underline var(--main-color);
}

footer button {
  background-color: var(--main-color);
  border: none;
  width: 8.5em;
  color: white;
  height: 2.5em;
  border-radius: 8px;
  margin: 1em 0;
  padding: 3px;
  cursor: pointer;
}

footer button:hover {
  text-decoration: underline;
}

@media (min-width: 900px) {
  footer ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  footer p {
    margin: 0;
  }
}
