/* Global styles for the footer */
footer {
  display: flex;
  height: 15vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
}

footer h2 {
  margin: 1em 0 0 0;
}

footer :is(h2, a, nav, ul, li, p) {
  background-color: transparent;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  font-family: var(--secondary-font);
}

footer a {
  color: var(--secondary-color);
}

@media (min-width: 900px) {
  footer ul {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
