.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff;
  position: sticky;
  top: 0;
  padding: 1em;
  height: 4em;
  width: 100%;
  margin: 0 0 2em 0;
  & a {
    background-color: transparent;
  }
  & button {
    border: none;
    padding: 0;
    width: 2em;
  }
  & svg {
    color: var(--main-color);
    width: 1.5em;
    height: 1.5em;
  }
}

.logo {
  width: 9em;
  background-color: transparent;
  top: 4em;
  left: 1.5em;
  position: relative;
}

.header-nav ul {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0;
  margin: 0;
  background-color: transparent;
  & li {
    background-color: transparent;
    margin: 0;
    list-style: none;
    & svg {
      background-color: transparent;
    }
  }
}

.header-nav ul li button {
  background-color: transparent;
  & svg {
    height: 2em;
    width: 2em;
    background-color: transparent;
  }
}

/************BURGER MENU*****************/

.burger-wrapper {
  cursor: pointer;
}

.aside-menu {
  background: var(--main-color);
  opacity: 0.9;
  width: 100vw;
  height: 100vh;
  position: fixed;
  transform: translateX(-50rem);
  top: 0;
  z-index: 2;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.aside-menu a {
  background-color: transparent;
  text-decoration: none;
  color: var(--background-color);
  font-size: 2em;
}

.visible {
  transform: translateX(-1em);
}

.burger {
  cursor: pointer;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  right: 1rem;
  top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.3em;
}

.burger div {
  height: 4px;
  width: 100%;
  border-radius: 8px;
  background-color: var(--main-color);
  transition: 0.5s;
  z-index: 10;
}

.open > div {
  background-color: #fff;
}

.open > div:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.open > div:nth-child(2) {
  opacity: 0;
}

.open > div:nth-child(3) {
  transform: translateY(-4px) rotate(-45deg);
}
