.recipe-container {
  text-align: center;
  margin: 5%;
}

.recipe-container h1 {
  margin-bottom: 3rem;
  color: #ff6347;
}

.photo-recipe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
.recipe-link {
  display: inline-block;
  width: 70%;
  max-width: 450px;
}
.photo-recipe img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.recipe-title {
  margin-top: -40px;
}

.clock-and-chef {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: -3rem;
  margin-left: 12rem;
}

.clock-container,
.chef-hat-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.icon {
  font-size: 2rem;
  padding: 5px;
  border-radius: 50%;
}

.divider {
  width: 2px;
  height: 40px;
  background-color: black;
}

.clock-container p,
.chef-hat-container p {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}
@media (min-width: 650px) {
  .clock-and-chef {
    margin-top: -6rem;
    margin-left: 20rem;
  }

  .photo-recipe img {
    width: 140%;
  }

  .recipe-title {
    text-align: center;
    width: 100%;
    background-color: transparent;

    margin-top: -80px;
  }
}
